<h1>Collection Policy</h1>
<div class="row">
<div class="col-xs-12 .col-sm-6 col-lg-8">
<h2>Open Access</h2>
<p>
All content in Academic Commons is freely accessible to anyone online. This fulfills the University's mission to "advance knowledge and learning at the highest level and to convey the products of its efforts to the world." Works that cannot be openly shared online should not be deposited in Academic Commons.
</p>
<h2>Persistence</h2>
<p>
Columbia University Libraries is committed to maintaining persistent identifiers in Academic Commons so that they will continue to resolve to landing pages providing metadata describing works in the collection, including elements of stewardship, provenance, and availability.
Columbia University Libraries is committed to the long-term preservation of the Academic Commons collection, as stated in the <a target="_blank" href="http://library.columbia.edu/about/policies/collection-development/general/preservation.html">Libraries Preservation Policy</a>.
</p>
<h2>Metadata Harvesting</h2>
<p>
Academic Commons descriptive metadata is available under a <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC Zero" />
  </a> (Creative Commons "CC Zero") licence.
</p>
<p>To the extent possible under law, Columbia University Academic Commons has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license). This work is published from: United States.</p>
<p>Academic Commons supports the Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH), version 2.0.</p>
<p>Starting URL, with verb parameter: <%= link_to blacklight_path do %>http://academiccommons.columbia.edu/catalog/oai?verb=Identify
	<% end %>
</p>
</div>
<div class="col-xs-6 col-lg-4">
 <div class="list-group">
  <%= link_to static_path(:terms) , class: "list-group-item" do %>
  Terms of Use
  <% end %>
  <%= link_to static_path(:copyright) , class: "list-group-item" do %>
  Copyright
  <% end %>
  <%= link_to static_path(:privacy_policy) , class: "list-group-item" do %>
  Privacy Policy
  <% end %>
  <%= link_to static_path(:collection_policy) , class: "list-group-item active" do %>
  Collection Policy
  <% end %>
</div>
</div>
</div>	