<h1>Content Policies</h1>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2 id="section1">Collection Development Policy</h2>


    <p>Academic Commons is a freely accessible digital collection of research and scholarship produced at Columbia University or one of its affiliate institutions (Barnard College, Teachers College, Union Theological Seminary, and Jewish Theological Seminary). Its mission is to collect and store the digital outputs of research and scholarship produced at Columbia University and its affiliates and present them to the broadest possible audience.</p>


    <p>The Collection Development Policy outlines the scope of the Academic Commons collection by describing:</p>

    <ol>
      <li>Items Within Collection Scope</li>
      <li>Limits to Collection Scope</li>
      <li>Collection Management</li>
      <li>Collection Strengths</li>
      <li>Collecting Goals</li>
      <li>Acquisition Sources</li>
    </ol>


    <h3>1. Items Within Collection Scope</h3>
    <h4>Creator is student, faculty, or staff at Columbia or affiliate institution</h4>
    <p>Academic Commons accepts digital objects produced by the faculty, students, and staff of Columbia or one of its affiliate institutions--Barnard College, Teachers College, Union Theological Seminary, and Jewish Theological Seminary (hereafter “Columbia”). This includes works originating from Columbia departments, institutes, and centers.</p>

    <p>To clarify further:
      <ol>
        <li>To be eligible for deposit, objects must be created by Columbia students, faculty, and staff members during the period of their studies or employment at the University.
          <ul>
            <li>Alumni or former staff members (including retired staff members) can deposit objects they created during their time at Columbia. If retirees maintain an active affiliation with Columbia (i.e. if they are still listed in the Columbia directory) they may continue to deposit work they produce after retirement.</li>
            <li>Current Columbia affiliates can deposit objects created before they arrived at Columbia.</li>
          </ul>
        </li>

        <li>Objects originating from a Columbia department, center, and institute can be deposited even if the creator is not, or is no longer, affiliated with Columbia. 
          <ul>
            <li>Examples include a Columbia-based working paper series and a presentation given at an event sponsored by a Columbia department.</li>
            <li>Creators need to sign the deposit agreement.</li>
          </ul>
        </li>

        <li>Objects with multiple creators/authors/presenters produced while at least one creator is a student or faculty or staff member at Columbia can be deposited. 
          <ul>
            <li>Unless an alternative agreement has been made by the creators, the Columbia affiliate’s approval of the deposit is sufficient.</li>
          </ul>
        </li>

        <li>Objects created after an individual leaves Columbia are not eligible for deposit.</li>
      </ol>
    </p>

    <h4>Item is an output of research and scholarship</h4>
    <p>We collect the outputs of research and scholarly activity at Columbia and its affiliates.
      <ul>
        <li>We have a deliberately expansive definition of what types of content are within the collection’s scope.</li> 
        <li>We usually leave it to the contributor to determine what content s/he wants to make available as research output</li>
        <li>Eligible research outputs include but are not limited to:
          <ul>
            <li>articles and monographs</li>
            <li>theses and dissertations</li>
            <li>papers written for classes</li>
            <li>datasets</li>
            <li>creative works</li>
            <li>videos of events on campus</li>
            <li>conference presentations</li>
            <li>working papers</li>
            <li>technical reports</li>
            <li>images</li>
            <li>blog posts</li>
          </ul>
        </li>
        <li>For faculty members, many of these objects are covered by “traditional faculty authorship rights” in the <a href="http://www.columbia.edu/cu/provost/docs/copyright.html" target="_blank">Columbia University Copyright Policy</a>.</li>
      </ul>
    </p>

    <h4>Item is a digital file</h4>
    <p>We accept all digital file formats.
      <ul>
        <li>We encourage the use of formats that are most likely to be long lived. For information about specific file formats for preservation, please read <a href="http://ecommons.library.cornell.edu/support.html#format" target="_blank">this information</a> from our colleagues at Cornell University’s repository, eCommons.</li>
        <li>We cannot accept individual files that are more than 100 GB in size.</li>
        <li>We do not offer digitization services. However, on a case-by-case basis we may agree to digitize materials for deposit in the repository.</li>
      </ul>
    </p>


    <h4>Item is in final format</h4>
    <p>Objects in the collection are in their final form, meaning in a version that is ready to share with a wide audience.
      <ul>
        <li>Additional versions of objects can be deposited as well, though the alternate versions will be retained in Academic Commons.</li>
      </ul>
    </p>

    <h4>Item can be freely accessible online</h4>
    <p>All content in the repository is freely accessible, either immediately or after a maximum embargo period of 5 years.
      <ul>
        <li>Embargo periods for Graduate School of Arts and Sciences dissertations are administered by GSAS. Other programs that strongly encourage or require deposit of student work in Academic Commons administer their own embargo policies.</li>
        <li>Content in Academic Commons must comply with Institutional Review Board (IRB) protocols, and with HIPAA and other regulations covering the privacy and confidentiality of personal identifying information.</li> 
        <li>It is the responsibility of contributors to obtain any needed IRB approvals, and insure compliance with privacy regulations and policies, for deposited objects.</li>
      </ul>
    </p>


    <h4>Depositor has right to deposit object</h4>
    <p>Depositors sign an agreement asserting that they have the right to deposit the objects they contribute to Academic Commons.
      <ul>
        <li>Depositors grant Columbia University a nonexclusive license to make a version of their work available via Academic Commons.</li>
        <li>There is no change in the copyright status of objects that are deposited in Academic Commons.</li>
      </ul>
    </p>

    <h4>Object itself is deposited</h4>
    <p>We will not create a record for an object unless we have the object itself.
      <ul>
        <li>Embargoed content is the exception to this rule. Metadata records will be displayed in Academic Commons though the object itself is not currently available in the repository.</li>
      </ul>
    </p>




    <h3>2. Limits to Collection Scope</h3>


    <p>Academic Commons does not collect all digital content related to the university. The following types of content are outside the scope of the collection.</p>


    <h4>Administrative records</h4>
    <p>The administrative records of Columbia units. 
      <ul>
        <li>Contact the <a href="http://library.columbia.edu/locations/cuarchives.html" target="_blank">University Archives</a> to discuss long-term preservation of administrative materials.</li>
      </ul>
    </p>

    <h4>Closed or limited-access content</h4>
    Theses or other student work that will not be openly available online. 
    <ul>
      <li>For example, Academic Commons is not an appropriate solution for Columbia programs wishing to establish a digital archive of student work that is available only to affiliates of the program or to those with Columbia UNIs.</li>
    </ul>
  </p>


  <h4>Learning objects</h4>
  <p>Items created for use in a classroom context (sometimes called “learning objects,” though the definition of a learning object varies). 
    <ul>
      <li>This includes syllabi and other materials that fall under the definitions of “courseware” and “course content” as laid out in the <a href="http://www.columbia.edu/cu/provost/docs/copyright.html" target="_blank">Columbia University Copyright Policy</a>.</li>
    </ul>
  </p> 



  <h3>3. Collection Management</h3>


  <p>Academic Commons is managed by the Center for Digital Research and Scholarship (CDRS). Repository staff collect content, catalog deposits, develop new functionality, and insure best practices are followed for the management and storage of digital files. Contact the repository team at cuac@libraries.cul.columbia.edu.</p>


  <h4>Storage and Backup</h4>
  <p>Files deposited in Academic Commons are written to an Isilon storage system with two copies, one local to Columbia University and one in Syracuse, NY; a third copy is stored on tape at Indiana University. 
    <ul>
      <li>The local Isilon cluster stores the data in such a way that the data can survive the loss of any two disks or any one node of the cluster. Within two hours of the initial write, data replication to the Syracuse Isilon cluster commences. The Syracuse cluster employs the same protections as the local cluster, and both verify with a checksum procedure that data has not altered on write.</li>
    </ul>
  </p>




  <h3>4. Collection Strengths</h3>


  <p>Our collecting mandate is as broad as the scope of research and scholarship produced at Columbia and its affiliates. There is still much work to be done to develop a collection that captures the range of intellectual activity on Columbia’s campuses.</p>


  <h4>Subjects</h4>
  <p>As of July 2014, departments/units with the most robust representation in the repository are:
    <ul>
      <li>Computer Science
       <ul>
        <li>Not surprisingly, the Computer Science department was an early adopter of Academic Commons and the department’s technical report series continues to supply regular deposits.</li>
      </ul>
    </li> 
    <li>Economics
     <ul>
      <li>The Economics department also participated in earlier versions of the repository, which is reflected in its relatively large contribution to the collection.</li>
    </ul>
  </li>
  <li>Lamont-Doherty Earth Observatory (LDEO), the Mailman School of Public Health, and affiliated departments
   <ul> 
    <li>LDEO and the Mailman School have both adopted open access policies that encourage researchers to deposit their work in an open repository, and many affiliates of these two units have a strong interest in sharing their work beyond their disciplinary communities.</li>
  </ul>
</li>
<li>Political Science</li>
<ul> 
  <li>School of International and Public Affairs</li>
</ul>
</li>
</ul>

<h4>Content types</h4>
<p>The Academic Commons collection holds content in a variety of genres. The largest groups are articles (mostly peer-review journal articles), working papers, reports, and theses/dissertations.</p>




<h3>5. Collecting Goals</h3>


<h4>Subjects</h4>
<p>We continue to look for opportunities to collect in subject areas that are particular strengths at Columbia, including the geological and environmental sciences, public health, economics, international affairs and development, engineering, and the social sciences.</p>


<p>We are also working to increase our holdings in the humanities. Providing broad access to research and scholarly outputs can still be a challenge for many scholars in humanities disciplines, but we are seeing an increased number of opportunities to collect humanities outputs.</p>  


<h4>Content types</h4>
<p>In Fiscal Year 2014, we have a particular focus on collecting the following content types:  
  <ul>
    <li>Undergraduate and Master’s theses</li>
    <li>Research data, with a particular focus on the following:
      <ul>
        <li>data from Columbia units that have adopted open access policies (Mailman, LDEO, Social Work)</li>
        <li>data underlying dissertations</li>
        <li>data without an appropriate disciplinary repository</li>
      </ul>
    </li>
    <li>Content in scholarly journals based at Columbia or one of its affiliates
     <ul>
      <li>this includes explorations of how Academic Commons can be used as an innovative publishing platform</li>
    </ul>
    <li>Peer-reviewed journal articles subject to an open access policy</li>
    <li>Technical reports and working papers</li>
  </ul>




  <h3>6. Acquisition Sources</h3>


  <p>We collect from a wide variety of sources, including:
    <ul>
      <li>Self-deposited materials</li>
      <li>One-on-one outreach to faculty and staff, including CV reviews</li>
      <li>Dissertation feed from ProQuest, for dissertations administered by the Graduate School for Arts and Sciences (GSAS)</li>
      <li>Publications produced at Columbia</li>
      <li>Outreach around and collection of research data</li>
      <li>Harvesting articles subject to open access policies on campus and their associated data</li>
      <li>Automated feeds from BioMed Central and, potentially, other open-access publishing platforms</li>
      <li>Digitization of older content such as dissertations, technical reports, and back issues of Columbia-based journals</li>
    </ul>
  </p>

  <h2 id="section2">Open Access</h2>
  <p>
    All content in Academic Commons is freely accessible to anyone online. This fulfills the University's mission to "advance knowledge and learning at the highest level and to convey the products of its efforts to the world." Works that cannot be openly shared online should not be deposited in Academic Commons.
  </p>
  <h2>Persistence</h2>
  <p>
    Columbia University Libraries is committed to maintaining persistent identifiers in Academic Commons so that they will continue to resolve to landing pages providing metadata describing works in the collection, including elements of stewardship, provenance, and availability.
    Columbia University Libraries is committed to the long-term preservation of the Academic Commons collection, as stated in the <a target="_blank" href="http://library.columbia.edu/about/policies/collection-development/general/preservation.html">Libraries Preservation Policy</a>.
  </p>
  <h2>Metadata Harvesting</h2>
  <p>
    Academic Commons descriptive metadata is available under a <a rel="license"
    href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC Zero" />
  </a> (Creative Commons "CC Zero") licence.
</p>
<p>To the extent possible under law, Columbia University Academic Commons has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license). This work is published from: United States.</p>
<p>Academic Commons supports the Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH), version 2.0.</p>
<p>Starting URL, with verb parameter: <%= link_to blacklight_path do %>http://academiccommons.columbia.edu/catalog/oai?verb=Identify
	<% end %>
</p>
<p>If you have comments or questions about Academic Commons, please 
contact the Academic Commons staff at <a href="mailto:AC@columbia.edu">AC@columbia.edu</a>.</p>
</div>
<div class="col-xs-6 col-md-4">


<nav class="list-group">
  <%= link_to static_path(:content_policies) , class: "list-group-item active" do %>
  Content Policies
  <% end %>
  <%= link_to static_path(:copyright) , class: "list-group-item" do %>
  Copyright
  <% end %>
  <%= link_to static_path(:privacy_policy) , class: "list-group-item" do %>
  Privacy Policy
  <% end %>
  <%= link_to static_path(:terms) , class: "list-group-item" do %>
  Terms of Use
  <% end %>
</nav>
</div>
</div>	