<footer id="footer" class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 footer-box-info">
				<ul>
					<li><%= link_to "Content Policies", static_path(:content_policies) %> |</li>
					<li><%= link_to "Copyright", static_path(:copyright) %> |</li>
					<li><%= link_to "Privacy Policy ", static_path(:privacy_policy) %> |</li>
					<li><%= link_to "Terms of Use", static_path(:terms) %></li>
				</ul>
				A program of <a href="http://cdrs.columbia.edu/">Center for Digital Research and Scholarship</a>, <a href="http://library.columbia.edu/">Columbia University Libraries</a>
			</div>
			<div class="col-md-4 footer-box-contact">
				<ul>
					<li><i class="fa fa-twitter"></i> <a href="https://twitter.com/ResearchAtCU" target="_blank">@ResearchAtCU</a></li>
					<li><i class="fa fa-envelope-o"></i> <a href="mailto:AC@columbia.edu">AC@columbia.edu</a></li>
				</ul>
				<ul>
					<li><i class="fa fa-phone"></i> <a href="tel:+1-212-851-2856">(212) 851-2856</a></li>
					<li><i class="fa fa-list-alt"></i> <a href="<%= sufia.contact_path %>">Contact Form</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- CULTNBW START -->
<script type="text/javascript">
	CULh_style = 'staticlink'; // limited, staticlink, static, search, standard (default)
	CULh_width = 'fluid'; // fixed, fluid (default)
	CULh_colorfg = '#002D63'; // topnavbar foreground color. hex value. ex: #002B7F
	CULh_colorbg = '#002D63'; // topnavbar background color. hex value. ex: #779BC3
	// CULh_nobs = 1; // uncomment to NOT load our bootstrap javascript file and or use your own (v2.3.x required)
	// CULh_notk = 1; // uncomment to NOT load our ldpd-toolkit.js and or use your own.
	//CULh_links = { "https://clio.columbia.edu/" : "CLIO", "http://hours.library.columbia.edu" : "Hours" }; 
	// custom (CUL/IS menu) dropdown links. "URL1":"TEXT1", "URL2":"TEXT2", "URL3":"TEXT3"
	CULh_brand = { url : 'http://library.columbia.edu', tablet : 'Columbia University Libraries', phone : 'Libraries' }; // custom "brand" titles for tablet and phone
</script>
<script src="//cdn.cul.columbia.edu/ldpd-toolkit/build/js/jquery-cul.js"></script>
<script src="//cdn.cul.columbia.edu/ldpd-toolkit/widgets/cultnbw.min.js"></script>